<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>@ViewBag.Title | Winkel Görev Takip Sistemi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Winkel Görev Takip Sistemi" name="description" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.png">

    <!-- Bootstrap Css -->
    <link href="~/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    @RenderSection("styles", required: false)

</head>

<body>

    @RenderBody()

    <!-- JAVASCRIPT -->
    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/libs/simplebar/simplebar.min.js"></script>
    <script src="~/libs/node-waves/waves.min.js"></script>

    @RenderSection("scripts", required: false)

    <!-- App js -->
    <script src="~/js/app.js"></script>

</body>

</html>