<meta charset="utf-8" />
<title>@ViewBag.Title | Winkel Görev Takip Sistemi</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Winkel Görev Takip Sistemi" name="description" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/images/favicon.png">