@model UpdateUserRequest
@{
    ViewBag.Title = "Kullanıcı İşlemleri";
    ViewBag.pTitle = "Kullanıcı Düzenle";
    ViewBag.pageTitle = "Kullanıcı İşlemleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-body">
                <form asp-action="Edit" asp-controller="User" method="post">
                    @if (ViewBag.IsSuccessfull == false)
                    {
                        @foreach (var error in ViewBag.Errors)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <i class="mdi mdi-block-helper me-2"></i>
                                @error
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }

                    }
                    @if (ViewBag.IsSuccessfull == true)
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <i class="mdi mdi-check-all me-2"></i>
                            @ViewBag.Message
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <div class="offset-md-3">
                        <div class="row mb-3 ">
                            <label asp-for="Name" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-5">
                                <input class="form-control" placeholder="Kullanıcı Adı" asp-for="Name">
                            </div>
                        </div>
                        <div class="row mb-3 ">
                            <label asp-for="Surname" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-5">
                                <input class="form-control" placeholder="Kullanıcı Soyadı" asp-for="Surname">
                            </div>
                        </div>
                        <div class="row mb-3 ">
                            <label asp-for="Email" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-5">
                                <input class="form-control" placeholder="E-posta" asp-for="Email">
                            </div>
                        </div>
                        <div class="row mb-3 ">
                            <label asp-for="UserRoleId" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-5">
                                <select asp-for="UserRoleId" class="form-select" asp-items="@ViewBag.Roles"></select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="Password" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-5">
                                <input class="form-control" placeholder="Kullanıcı Şifresi" asp-for="Password">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="PasswordConfirm" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-5">
                                <input class="form-control" placeholder="Kullanıcı Şifresi" asp-for="PasswordConfirm">
                            </div>
                        </div>
                        <div class="row mb-3 gap-4">
                            <div class="col-md-3">
                                <a class="btn btn-primary waves-effect waves-light" asp-action="Index"
                                    asp-controller="User">
                                    <i class="mdi mdi-cancel align-middle"></i>
                                    Geri Dön
                                </a>
                            </div>
                            <div class="col-md-5">
                                <button type="submit" class="btn btn-success waves-effect waves-light">
                                    Kullanıcıyı Güncelle
                                    <i class="ri-arrow-right-line align-middle ms-2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
