@model LogInRequest
@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div>
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4">
                <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
                    <div class="w-100">
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                                <div>
                                    <div class="text-center">
                                        <div>
                                            <a href=@Url.Action("LogIn", "Account") class="">
                                                <img src="~/images/winkel-logo.png" alt="Winkel Logo" height="70"
                                                    class="auth-logo logo-dark mx-auto">
                                            </a>
                                        </div>

                                        <h4 class="font-size-18 mt-4">Hoşgeldiniz !</h4>
                                        <p class="text-muted">Panele giriş yapabilmek için öncelikle giriş yapın.</p>
                                    </div>

                                    <div class="p-2 mt-5">
                                        <form asp-action="LogIn" asp-controller="Account">
                                            @if (ViewBag.IsSuccessfull == false)
                                            {
                                                @foreach (var error in ViewBag.Errors)
                                                {
                                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                        <i class="mdi mdi-block-helper me-2"></i>
                                                        @error
                                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                                    </div>
                                                }

                                            }
                                            @if (ViewBag.IsSuccessfull == true)
                                            {
                                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                    <i class="mdi mdi-check-all me-2"></i>
                                                    @ViewBag.Message
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                                </div>
                                            }
                                            <div class="mb-3 auth-form-group-custom mb-4">
                                                <i class="ri-user-2-line auti-custom-input-icon"></i>
                                                <label asp-for="Email"></label>
                                                <input asp-for="Email" class="form-control"
                                                    placeholder="E-posta adresiniz">
                                            </div>

                                            <div class="mb-3 auth-form-group-custom mb-4">
                                                <i class="ri-lock-2-line auti-custom-input-icon"></i>
                                                <label asp-for="Password"></label>
                                                <input asp-for="Password" class="form-control" placeholder="Şifreniz">
                                            </div>

                                            <div class="form-check">
                                                <input asp-for="isPersistent" class="form-check-input">
                                                <label asp-for="isPersistent" class="form-check-label">
                                                    Beni Hatırla</label>
                                            </div>

                                            <div class="mt-4 text-center">
                                                <button class="btn btn-primary w-md waves-effect waves-light"
                                                    type="submit">Giriş</button>
                                            </div>

                                            <div class="mt-4 text-center">
                                                <a href="#" class="text-muted"><i class="mdi mdi-lock me-1"></i> Şifremi
                                                    Unuttum</a>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="mt-5 text-center">
                                        <p>
                                            ©
                                            <script>document.write(new Date().getFullYear())</script> Winkel Türkiye
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="authentication-bg">
                    <div class="bg-overlay"></div>
                </div>
            </div>
        </div>
    </div>
</div>
